- Data Structures
    - Tuple
    - Dictionary
    - Set
- Tuple
    - represented by ()
    - Immutable
    - Heterogeneous value

In [2]:
t = ()
type(t)

tuple

In [3]:
t = (1, 2, 3, 4, 5, 'a')
t

(1, 2, 3, 4, 5, 'a')

In [4]:
t[-1]

'a'

In [5]:
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

Since tuple is immutable we got an error

In [6]:
t[:3]

(1, 2, 3)

In [8]:
t.count('a')

1

In [9]:
t.index('a')

5

In [13]:
h = tuple(input().split())
h

1 2 3

('1', '2', '3')

In [14]:
t = ('python', 2020, 'APSSDC')
(Course, year, org) = t
Course

'python'

In [15]:
year

2020

In [16]:
org

'APSSDC'

Dictionary
    - used to store collection of data
    - represented by {}
    - {key : value, key1 : value1}
    - keys are unique identifiers for values

In [17]:
d = {}
type(d)

dict

In [1]:
d = {1 : 'One', 2 : 'Two', 3 : 'Three'}
d

{1: 'One', 2: 'Two', 3: 'Three'}

In [20]:
d[2]

'Two'

In [22]:
d1 = dict(course = 'Python', branch = 'ECE')
d1['course']

'Python'

In [23]:
d[3] = 'Thirty'

In [24]:
d

{1: 'One', 2: 'Two', 3: 'Thirty'}

In [25]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [34]:
# fromkeys
# create a new dictionary with keys from sequence
# syntax = fromkeys(seq, value)

keys = ('key1', 'key2', 'key3')
dic = dict.fromkeys(keys)
d2 = dict.fromkeys(keys, 1)
print(dic)
d2

{'key1': None, 'key2': None, 'key3': None}

{'key1': 1, 'key2': 1, 'key3': 1}

In [37]:
d2['key1']

1

In [38]:
d2.keys()

dict_keys(['key1', 'key2', 'key3'])

In [39]:
d2.values()

dict_values([1, 1, 1])

In [40]:
d2.items()

dict_items([('key1', 1), ('key2', 1), ('key3', 1)])

In [43]:
for key in d2:
    print(key, d2[key])

key1 1
key2 1
key3 1

In [44]:
for values in d2.values():
    print(values)

1
1
1

In [45]:
for key, values in d2.items():
    print(key, values)

key1 1
key2 1
key3 1

In [4]:
# copy

info = d.copy()
print(info, d)

{1: 'One', 2: 'Two', 3: 'Three'} {1: 'One', 2: 'Two', 3: 'Three'}

In [5]:
# popitem() does not have any argument
info.popitem()
info

{1: 'One', 2: 'Two'}

In [6]:
info.pop(1)
info

{2: 'Two'}

In [7]:
info

{2: 'Two'}

In [8]:
d

{1: 'One', 2: 'Two', 3: 'Three'}

In [2]:
d.update({2 : 'Twenty', 4 : 'Four'})

In [11]:
d

{1: 'One', 2: 'Twenty', 3: 'Three', 4: 'Four'}

In [3]:
# setdefault(key, value)
d.setdefault(4)

'Four'

In [24]:
d.setdefault('Koti') # if value doesnot exist then it returns None

In [25]:
d

{1: 'One', 2: 'Twenty', 3: 'Three', 4: 'Four', 'Koti': None}

In [4]:
d.setdefault('Koti', 'Kotesh')

'Kotesh'

In [5]:
d

{1: 'One', 2: 'Twenty', 3: 'Three', 4: 'Four', 'Koti': 'Kotesh'}

In [6]:
d.clear() # returns empty list

In [7]:
d

{}

In [9]:
del d

In [10]:
d

NameError: name 'd' is not defined

In [21]:
a = {1: 10, 2: 20}
b = {3: 30, 4: 40}
c = {5: 50, 6: 60}
d = {}
d.update(a)
d.update(b)
d.update(c)
d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# Task
# Contacts application
# create contact - key and value
# update contact and search contact and delete contact using a dictionary

contacts = {}
def create_contact(name, number, contacts):
    if name in contacts:
        print(name, 'Contact already exits')
    else :
        contacts[name] = number
        print('Contact', name, 'is added successfully')

def search(name, contacts):
    if name in contacts:
        print(name, number)
    else :
        print(name, 'not found in the contacts')

def update(name, number, contacts):
    contacts.update({name: number})
    print(name, 'updated in contacts')

def delete(name, contacts):
    contacts.pop(name)
    print(name, 'deleted from contacts')

while(1):
    k = int(input('Enter 1 to continue and 0 to stop:  '))
    if k == 0:
        break
    print("Create Contact -- 1 \nUpdate Contact -- 2 \nSearch Contact -- 3 \nDelete Contact -- 4\n")
    mode = int(input('Enter the operation you want to perform: '))
    name = input("Enter the contact name: ")
    if mode == 1 or mode == 2:
        number = int(input("Enter the number: "))
    if mode == 1: create_contact(name, number, contacts)
    elif mode == 2: update(name, number, contacts)
    elif mode == 3: search(name, contacts)
    elif mode == 4: delete(name, contacts)

    print(contacts)
print('Closed contacts successfully')

Enter 1 to continue and 0 to stop:  1
Create Contact -- 1
Update Contact -- 2
Search Contact -- 3
Delete Contact -- 4

Enter the operation you want to perform: 1
Enter the contact name: Koti
Enter the number: 123456
Contact Koti is added successfully
{'Koti': 123456}
Enter 1 to continue and 0 to stop:  1
Create Contact -- 1
Update Contact -- 2
Search Contact -- 3
Delete Contact -- 4

Enter the operation you want to perform: 1
Enter the contact name: Kotesh
Enter the number: 123456789
Contact Kotesh is added successfully
{'Koti': 123456, 'Kotesh': 123456789}
Enter 1 to continue and 0 to stop:  1
Create Contact -- 1
Update Contact -- 2
Search Contact -- 3
Delete Contact -- 4

Enter the operation you want to perform: 3
Enter the contact name: Koti
Koti 123456789
{'Koti': 123456, 'Kotesh': 123456789}
Enter 1 to continue and 0 to stop:  1
Create Contact -- 1
Update Contact -- 2
Search Contact -- 3
Delete Contact -- 4

Enter the operation you want to perform: 2
Enter the contact name: Koti
Enter the number: 8688602428
Koti updated in contacts
{'Koti': 8688602428, 'Kotesh': 123456789}
Enter 1 to continue and 0 to stop:  1
Create Contact -- 1
Update Contact -- 2
Search Contact -- 3
Delete Contact -- 4

Enter the operation you want to perform: 4
Enter the contact name: Kotesh
Kotesh deleted from contacts
{'Koti': 8688602428}

In [ ]:
contacts

- Sets
    - Contains unique elements
    - unordered and unindexed
    - immutable and supports adding elements

In [5]:
# Set
s = set()
type(s)

set

In [4]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

- remove()
    - removes specific item in the set
    - raises an error when it has no value
    
- discard()
    - removes specific value 
    - doesnot raise any error when value is not there
- pop()
    - removes last item

In [15]:
s = {1, 2, 3, 4, 5, 5, 6}
s

{1, 2, 3, 4, 5, 6}

In [16]:
s.remove(5)

In [17]:
s

{1, 2, 3, 4, 6}

In [18]:
s.pop()

1

In [24]:
s.discard(4)
s

{2, 3, 6}

In [25]:
s.discard(7) # Though we dont have 7 we didnt get any error
s

{2, 3, 6}