In [1]:
l = [2, 4, 5, 6, 7]
lst = [i for i in l if i % 2 == 0]
lst

[2, 4, 6]

In [19]:
a = [i ** 2 for i in range(1, 6)]
a

[1, 4, 9, 16, 25]

In [20]:
b = [i if i % 2 == 0 else 'odd' for i in a]
b

['odd', 4, 'odd', 16, 'odd']

In [21]:
b = ['even' if i % 2 == 0 else 'odd' for i in a]
b

['odd', 'even', 'odd', 'even', 'odd']

In [12]:
a = ["Stay home", "Stay safe"]
x = [j for i in a for j in i.split()]
x

['Stay', 'home', 'Stay', 'safe']

In [13]:
a = [[i * j for i in range(1, 11)] for j in range(1, 11)]
a

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

### Dictionary comprehension

In [17]:
d = {i : i ** 3 for i in range(1, 6)}
d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [22]:
id_nos = ["N130663", "N130664", "N130665"]
names = ["ramu", "ravi", "raju"]
c = {}
for (key, value) in zip(id_nos, names):
    c[key] = value
c

{'N130663': 'ramu', 'N130664': 'ravi', 'N130665': 'raju'}

### Set comprehension

In [24]:
s = {i ** 3 for i in range(1, 6)}
s

{1, 8, 27, 64, 125}

### Generator comprehension

In [25]:
li = [1, 3, 4, 5]
c = (i ** 3 for i in li)
print(c)
for i in c:
    print(i)

<generator object <genexpr> at 0x000001C311414F90>
1
27
64
125

### Iterators and generators

### Iterator
- it will contain number elements and we can access element as per requirement.
- iter and next

In [26]:
n = "python"
for i in n:
    print(i)

p
y
t
h
o
n

In [27]:
i = iter(n)
next(i)

'p'

In [28]:
next(i)

'y'

In [29]:
next(i)

't'

In [30]:
next(i)

'h'

### Generators
- Generator is also a function but in place of return statements we are using yield
- generators will be used in combition of iterator

In [31]:
def gen():
    yield 4

gen()

In [32]:
def generator():
    yield 4
    yield 5
    yield 6
    yield 8

for i in generator():
    print(i, end = ' ')

4 5 6 8

### Functional programming
- Lambda
- map
- filter
- reduce

- Lambda
    - we are not using def
    - single line functions
    - anonymous functions
- syntax: lambda arguments:expression

- we can provide n number of arguments but only single expression

In [34]:
def add(a, b):
    return a + b

add(5, 6)

11

In [35]:
add = lambda a, b : a + b
add(7, 45)

52

- map
- syntax: map(function, iterables)

In [40]:
def mul(a):
    return a * a

x = map(mul, [2, 3, 4])
list(x)

[4, 9, 16]

In [41]:
d = ["Kotesh", "Koti", "Koteswararao"]
li = list(map(str.upper, d))
li

['KOTESH', 'KOTI', 'KOTESWARARAO']

### map with lambda

In [42]:
a = map(lambda x : x ** 3, [3, 5, 6])
list(a)

[27, 125, 216]

### Filter
- returns the iterator where the items are filtered
- syntax: filter(function, iterable)

In [43]:
num = [10, 20, 12, 55, 123, 100, 45, 67]

def greater(x):
    if x >= 55:
        return True
    return False

ans = filter(greater, num)
for i in ans:
    print(i)

55
123
100
67

### filter with lambda

In [48]:
num = [10, 20, 12, 55, 123, 100, 45, 67]
a = filter(lambda x : x >= 55, num)
for i in a:
    print(i)

55
123
100
67

### reduce()
- it returns the single value
- syntax: reduce(function, iterable/seq)

In [49]:
import functools
a = functools.reduce(lambda x, y : x + y, [10, 20, 30, 40])
a

100

10 20 30 40  

x = 10  
y = 20   

x + y = 30  

x = 30  
y = 30  

x + y = 60  

x = 60  
y = 40  

x + y = 100